<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="background">
        <!-- INTRODUCTION START -->
        <div id="introduction">
            <header>
                <p>DAVID M.KELLY </p>
                <ul>
                    <li>INTRODUCTION</li>
                    <li>COMPANIES</li>
                    <li>GALLERY</li>
                </ul>
                <p id="belief_text">BELIEF IN YOUR CREATIVE CAPACITY <br> LIES AT THE HEART OF INNOVATION.</p>
                <br>
                <p><a class="discover_text" href="#quick_stats"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> <br> Discover</a></p>
            </header>
        </div>
        <!-- INTRODUCTION END -->
    </div>

    <!-- QUICK STATS START -->
    <div id="quick_stats" style="height: 300px;">
        <p>QUICK STATS</p>
        <hr>

        <div>
            <p class="float_left">
                <i class="fa fa-users" aria-hidden="true"></i>
                FAMILY
                <br>
                Born in Barberton, Ohio
                Brother is Tom Kelly
                Wife is Katharine C. Branscomb
            </p>
            <p class="float_left">
                <i class="fa fa-graduation-cap"></i>
                EDUCATION
                <br>
                B.S. from Carnegie Melon University
                M.S. in Design from Stanford Universit
                Created Hasso Plattner Institute of Design at Stanford University
            </p>
            <p class="float_left">
                <i class="fa fa-money" aria-hidden="true"></i>
                NET WORTH
                <br>
                US $200 Million (2019)
            </p>
            <p class="float_left">
                <i class="fa fa-building-o" aria-hidden="true"></i>
                <br>
                Founder of IDEO
                Co-Founder of Onset Ventures
                Co-Founder of Edge Innovations
            </p>
        </div>
    </div>
    <!-- QUICK STATS END -->

    <div class="background"></div>
</body>
</html>