<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="background">
        <!-- INTRODUCTION START -->
        <div id="introduction">
            <header>
                <p>DAVID M.KELLY </p>
                <ul>
                    <li>INTRODUCTION</li>
                    <li>COMPANIES</li>
                    <li>GALLERY</li>
                </ul>
                <p id="belief_text">BELIEF IN YOUR CREATIVE CAPACITY <br> LIES AT THE HEART OF INNOVATION.</p>
                <br>
                <p><a class="discover_text" (click)="gotoSection()"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> <br> Discover</a></p>
            </header>
        </div>
        <!-- INTRODUCTION END -->
    </div>

    <!-- QUICK STATS START -->
    <div id="quick_stats" style="height: 100%;">
        <p>QUICK STATS</p>
        <hr>

        <div>
            <div class="float_left">
                <i class="fa fa-users" aria-hidden="true" style="font-size: 4rem;"></i>
                <br>
                <h1>FAMILY</h1>
                Born in Barberton, Ohio
                Brother is Tom Kelly
                Wife is Katharine C. Branscomb
            </div>
            <div class="float_left">
                <i class="fa fa-graduation-cap" style="font-size: 4rem;"></i>
                <h1>EDUCATION</h1>
                B.S. from Carnegie Melon University
                M.S. in Design from Stanford Universit
                Created Hasso Plattner Institute of Design at Stanford University
            </div>
            <div class="float_left">
                <i class="fa fa-money" aria-hidden="true" style="font-size: 4rem;"></i>
                <h1>NET WORTH</h1>
                US $200 Million (2019)
            </div>
            <div class="float_left">
                <i class="fa fa-building-o" aria-hidden="true" style="font-size: 4rem;"></i>
                <h1>COMPANIES</h1>
                Founder of IDEO
                Co-Founder of Onset Ventures
                Co-Founder of Edge Innovations
            </div>
        </div>
    </div>
    <!-- QUICK STATS END -->
    <!-- QUOTE SECTION START -->
    <div id="quote_section" style="height: 100%;">
        <div class="quote_section__container">
            <img src="../assets/images/david-m-kelly.jpeg" alt="">
        <p>
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            THE MAIN TENET OF DESIGN <span style="color: grey;">THINKING</span> IS <span style="color: grey;">EMPATHY</span>  FOR THE PEOPLE YOUR <br> <span style="color: grey">DESIGN</span> IS FOR.
            <i class="fa fa-quote-right" aria-hidden="true"></i>
        </p>
        </div>
    </div>
    <!-- QUOTE SECTION END -->

    <!-- INTRODUCTION START -->
    <div id="quick_stats" style="height: 100%;">
        <p>INTRODUCTION</p>
        <hr>

        <div>
            <p class="introduction__inner_text">
                David Kelley is the founder of the global design and innovation company IDEO. Kelley also founded Stanford University’s Hasso Plattner Institute of Design, known as the d.school. As Stanford’s Donald W. Whittier Professor in Mechanical Engineering, Kelley is the Academic Director of both of the degree-granting undergraduate and graduate programs in Design within the School of Engineering, and has taught classes in the program for more than 35 years.
                <br>
                <br>
                Kelley’s most enduring contributions are in human-centered design methodology and design thinking. He is most passionate about using design to help unlock reative confidence in everyone from students to business executives. A frequent speaker on these topics, Kelley and his brother co-authored the New York Times best-selling book Creative Confidence: Unleashing the Creative Potential Within Us All.
                <br>
                <br>
                After earning a bachelor’s degree in electrical engineering at Carnegie Mellon University, Kelley worked as an engineer at both Boeing and NCR. Drawn to design, he entered Stanford University in 1975, where he earned his master’s degree in Engineering/Product Design. In 1978, he founded the design firm that would become IDEO and, in that same year, began his teaching career at Stanford, receiving tenure in 1990. He also founded an early-stage venture-capital firm in 1984 called Onset, and was instrumental in starting a special effects firm called Edge Innovations, which creates unique Animatronics for the film industry.
                <br>
                <br>
                Kelley was inducted into the National Academy of Engineering in 2000. He holds honorary PhD's from both the Thayer School of Engineering at Dartmouth and Art Center College in Pasadena. He has been recognized with numerous honors, including the Chrysler Design Award and the National Design Award in Product Design from the Smithsonian’s Cooper-Hewitt National Design Museum, the Robert Fletcher Award from Dartmouth, and the Edison Achievement Award for Innovation. Preparing the design thinkers of tomorrow earned him the Sir Misha Black Medal for his “distinguished contribution to design education".
            </p>
        </div>
    </div>
    <!-- INTRODUCTION END -->

    <!-- Timeline START -->
    <div class="timeline">
        <h3>Companies</h3>
        <br>
        <br>
        <ul>
            <li>
                <div class="content">
                    <h3>What is Loren Ipsum?</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into 
                        electronic typesetting, remaining essentially unchanged. It was popularised in 
                        the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including 
                        versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="time">
                    <h4>January 2018</h4>
                </div>    
            </li>

            <li>
                <div class="content">
                    <h3>What is Loren Ipsum?</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into 
                        electronic typesetting, remaining essentially unchanged. It was popularised in 
                        the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including 
                        versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="time">
                    <h4>January 2018</h4>
                </div>    
            </li>

            <li>
                <div class="content">
                    <h3>What is Loren Ipsum?</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into 
                        electronic typesetting, remaining essentially unchanged. It was popularised in 
                        the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including 
                        versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="time">
                    <h4>January 2018</h4>
                </div>    
            </li>

            <li>
                <div class="content">
                    <h3>What is Loren Ipsum?</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into 
                        electronic typesetting, remaining essentially unchanged. It was popularised in 
                        the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including 
                        versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="time">
                    <h4>January 2018</h4>
                </div>    
            </li>
            <div style="clear: both;"></div>
        </ul>
    </div>
    <!-- Timeline END -->

    <!-- Gallery START -->
    <div class="gallery" style="height: 500px;">
        <p>GALLERY</p>
        <hr>
        <div id="image_container">
        </div>
        <div id="image_container">
        </div>
    </div>
    <!-- Gallery END -->

    <div class="background">
    <!-- FOOTER START -->
    <div class="footer">
        <footer>
            <a class="discover_text" (click)="gotoSection()"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i> <br> Jump Up</a>
            <p>DAVID M. KELLY</p>
            <ul>
                <li><a href="">Biography Page</a></li>
                <li><a href="">Creative Confidence</a></li>
                <li><a href="">Forbes</a></li>
                <li><a href="">Ted Talks</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Wikipedia</a></li>
            </ul>
            <p class="footer_text">COPYRIGHT © 2020 SPENSER WELLEN, ALL RIGHTS RESERVED. <br> THANKS TO TED TALKS, IDEO, AND WIKIPEDIA FOR PROVIDING ME WITH THE INFORMATION FOR THIS PAGE.</p>
        </footer>
    </div>
    <!-- FOOTER END -->
    </div>
</body>
</html>